#records
  .row
    .col-xs-9
      = calendar do |date|
        = date.day
        - if @punchcards_by_date[date]
          - overtime = cal_overtime(@punchcards_by_date[date].first, @work_seconds_per_week, date).to_i / 3600
          %div= overtime > 0 ? "加班#{overtime}個小時" : "沒加班!"
