.row
  .col-lg-9.pane
    -if !@jobs.empty?
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th 公司名稱
            %th 職務名稱
            %th 平均時數/週
            %th
        %tbody
          -@jobs.each do |job|
            %td= job.company.name rescue ""
            %td= job.name
            %td= job.hours_per_week
            %td
    -else
      %h2 你還沒有資料喔!

    .action
      = link_to "建立工作", new_info_path, class: "btn btn-primary"
